* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    padding: 30px 20px;

    background: linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed,
        #ec4899
    );
}

.container {
    width: 100%;
    max-width: 1000px;

    margin: auto;

    padding: 35px;

    background: white;

    border-radius: 25px;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;

    color: #4f46e5;

    font-size: 35px;

    margin-bottom: 8px;
}

.subtitle {
    text-align: center;

    color: #777;

    margin-bottom: 30px;
}

/* Form */

.form {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.form input {
    padding: 14px;

    border: 2px solid #e5e7eb;

    border-radius: 10px;

    outline: none;

    font-size: 15px;
}

.form input:focus {
    border-color: #6366f1;
}

.form button {
    grid-column: 1 / -1;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(
        135deg,
        #6366f1,
        #8b5cf6
    );

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.form button:hover {
    transform: translateY(-2px);
}

/* Error */

#error {
    color: #ef4444;

    margin-top: 12px;

    font-size: 14px;
}

/* Top Bar */

.top-bar {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 30px;

    margin-bottom: 15px;
}

.top-bar h2 {
    color: #333;
}

#studentCount {
    color: #6366f1;

    font-weight: bold;
}

/* Search */

.search {
    width: 100%;

    padding: 14px;

    margin-bottom: 20px;

    border: 2px solid #e5e7eb;

    border-radius: 10px;

    outline: none;

    font-size: 15px;
}

.search:focus {
    border-color: #6366f1;
}

/* Table */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;

    border-collapse: collapse;
}

th {
    background: #6366f1;

    color: white;

    padding: 14px;

    text-align: left;
}

td {
    padding: 14px;

    border-bottom: 1px solid #e5e7eb;

    color: #444;
}

tr:hover {
    background: #f8f9ff;
}

/* Delete */

.delete-btn {
    border: none;

    background: #fee2e2;

    color: #dc2626;

    padding: 8px 12px;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;
}

.delete-btn:hover {
    background: #fecaca;
}

/* Empty */

#emptyMessage {
    text-align: center;

    color: #999;

    padding: 25px;
}

/* Mobile */

@media (max-width: 700px) {

    .container {
        padding: 25px 15px;
    }

    h1 {
        font-size: 27px;
    }

    .form {
        grid-template-columns: 1fr;
    }

    .form button {
        grid-column: auto;
    }

    .top-bar {
        flex-direction: column;

        gap: 10px;

        align-items: flex-start;
    }

}